HELP.md

### Backend - Java / Spring Boot ###
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar
!Backend/**/src/main/**/target/
!Backend/**/src/test/**/target/
Backend/build/
!Backend/**/src/main/**/build/
!Backend/**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Post man ###
.postman/
postman/

### Uploads ###
Backend/uploads/

### Frontend - React / Vite ###
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.local
Frontend/.env.production
Frontend_copia/